In [8]:
%pip install openpyxl pandas

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     -------------------------------------- 250.9/250.9 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: pandas in c:\users\kondr\appdata\local\programs\python\python311\lib\site-packages (3.0.0)
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kondr\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kondr\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\kondr\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\kondr\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
from TestTask import DataPreprocessor
import pandas as pd

In [15]:
df = pd.read_excel('pandas_data.xlsx')
df

   StatusDate State  Status  CustomerCount  Status2
0  2009-01-05    NJ     5.0          748.0      5.0
1  2009-01-12    nj     1.0          644.0      1.0
2  2009-01-19    GA     3.0          211.0      NaN
3  2009-01-26    GA     4.0            NaN      NaN
4  2009-02-02    GA     1.0            NaN      NaN
5  2009-02-09    FL     4.0            NaN      NaN
6  2009-02-16    nj     1.0            NaN      NaN
7  2009-02-23    GA     5.0            NaN      NaN
8  2009-03-02    fl     3.0            NaN      NaN
9  2009-03-09    NJ     3.0            NaN      NaN
10 2009-03-16    tx     3.0            NaN      3.0
11 2009-03-23    FL     2.0            NaN      2.0
12 2009-03-30    GA     2.0            NaN      2.0
13 2009-04-06    NJ     NaN            NaN      5.0
14 2009-04-13    ny     NaN            NaN      1.0
15 2009-04-20    TX     NaN            NaN      4.0
16 2009-04-27    tx     NaN            NaN      2.0
17 2009-05-04    TX     NaN            NaN      4.0
18 2009-05-11    nj     NaN          452.0      2.0
19 2009-05-18    NY     5.0          514.0      5.0
20 2009-05-25    FL     2.0          884.0      2.0
21 2009-06-01    TX     3.0          420.0      3.0
22 2009-06-08    ga     2.0          350.0      2.0
23 2009-06-15    TX     3.0          574.0      3.0
24 2009-06-22    FL     3.0          381.0      3.0
25 2009-06-29    FL     4.0          192.0      4.0
26 2009-07-06    ga     4.0          299.0      4.0
27 2009-07-13    FL     5.0          761.0      5.0
28 2009-07-20    TX     5.0          742.0      5.0

In [12]:
test1 = DataPreprocessor(df)
temp = test1.fit_transform(
    threshold=0.6,
    fill_type="mode",
    categorical_cols=["State"],
    normalize_method="std"
)
temp

   После обработки пропусков: (29, 4)

   После кодирования: (29, 13)

   После нормализации: (29, 13)

,StatusDate,Status,Status2,State_FL,State_GA,State_NJ,State_NY,State_TX,State_fl,State_ga,State_nj,State_ny,State_tx
0,2009-01-05,1.596543,1.707788,False,False,True,False,False,False,False,False,False,False
1,2009-01-12,-1.833068,-1.487428,False,False,False,False,False,False,False,True,False,False
2,2009-01-19,-0.118262,-0.688624,False,True,False,False,False,False,False,False,False,False
3,2009-01-26,0.739140,-0.688624,False,True,False,False,False,False,False,False,False,False
4,2009-02-02,-1.833068,-0.688624,False,True,False,False,False,False,False,False,False,False
5,2009-02-09,0.739140,-0.688624,True,False,False,False,False,False,False,False,False,False
6,2009-02-16,-1.833068,-0.688624,False,False,False,False,False,False,False,True,False,False
7,2009-02-23,1.596543,-0.688624,False,True,False,False,False,False,False,False,False,False
8,2009-03-02,-0.118262,-0.688624,False,False,False,False,False,True,False,False,False,False
9,2009-03-09,-0.118262,-0.688624,False,False,True,False,False,False,False,False,False,False
10,2009-03-16,-0.118262,0.110180,False,False,False,False,False,False,False,False,False,True
11,2009-03-23,-0.975665,-0.688624,True,False,False,False,False,False,False,False,False,False
12,2009-03-30,-0.975665,-0.688624,False,True,False,False,False,False,False,False,False,False
13,2009-04-06,-0.118262,1.707788,False,False,True,False,False,False,False,False,False,False
14,2009-04-13,-0.118262,-1.487428,False,False,False,False,False,False,False,False,True,False
15,2009-04-20,-0.118262,0.908984,False,False,False,False,True,False,False,False,False,False
16,2009-04-27,-0.118262,-0.688624,False,False,False,False,False,False,False,False,False,True
17,2009-05-04,-0.118262,0.908984,False,False,False,False,True,False,False,False,False,False
18,2009-05-11,-0.118262,-0.688624,False,False,False,False,False,False,False,True,False,False
19,2009-05-18,1.596543,1.707788,False,False,False,True,False,False,False,False,False,False
20,2009-05-25,-0.975665,-0.688624,True,False,False,False,False,False,False,False,False,False
21,2009-06-01,-0.118262,0.110180,False,False,False,False,True,False,False,False,False,False
22,2009-06-08,-0.975665,-0.688624,False,False,False,False,False,False,True,False,False,False
23,2009-06-15,-0.118262,0.110180,False,False,False,False,True,False,False,False,False,False
24,2009-06-22,-0.118262,0.110180,True,False,False,False,False,False,False,False,False,False
25,2009-06-29,0.739140,0.908984,True,False,False,False,False,False,False,False,False,False
26,2009-07-06,0.739140,0.908984,False,False,False,False,False,False,True,False,False,False
27,2009-07-13,1.596543,1.707788,True,False,False,False,False,False,False,False,False,False
28,2009-07-20,1.596543,1.707788,False,False,False,False,True,False,False,False,False,False

In [14]:
test2 = DataPreprocessor(df)
test2.remove_missing(threshold=0.6, fill_type="mode")
test2.df

   StatusDate State  Status  Status2
0  2009-01-05    NJ     5.0      5.0
1  2009-01-12    nj     1.0      1.0
2  2009-01-19    GA     3.0      2.0
3  2009-01-26    GA     4.0      2.0
4  2009-02-02    GA     1.0      2.0
5  2009-02-09    FL     4.0      2.0
6  2009-02-16    nj     1.0      2.0
7  2009-02-23    GA     5.0      2.0
8  2009-03-02    fl     3.0      2.0
9  2009-03-09    NJ     3.0      2.0
10 2009-03-16    tx     3.0      3.0
11 2009-03-23    FL     2.0      2.0
12 2009-03-30    GA     2.0      2.0
13 2009-04-06    NJ     3.0      5.0
14 2009-04-13    ny     3.0      1.0
15 2009-04-20    TX     3.0      4.0
16 2009-04-27    tx     3.0      2.0
17 2009-05-04    TX     3.0      4.0
18 2009-05-11    nj     3.0      2.0
19 2009-05-18    NY     5.0      5.0
20 2009-05-25    FL     2.0      2.0
21 2009-06-01    TX     3.0      3.0
22 2009-06-08    ga     2.0      2.0
23 2009-06-15    TX     3.0      3.0
24 2009-06-22    FL     3.0      3.0
25 2009-06-29    FL     4.0      4.0
26 2009-07-06    ga     4.0      4.0
27 2009-07-13    FL     5.0      5.0
28 2009-07-20    TX     5.0      5.0

In [16]:
test2.encode_categorical(["State"])
test2.df

,StatusDate,Status,Status2,State_FL,State_GA,State_NJ,State_NY,State_TX,State_fl,State_ga,State_nj,State_ny,State_tx
0,2009-01-05,5.0,5.0,False,False,True,False,False,False,False,False,False,False
1,2009-01-12,1.0,1.0,False,False,False,False,False,False,False,True,False,False
2,2009-01-19,3.0,2.0,False,True,False,False,False,False,False,False,False,False
3,2009-01-26,4.0,2.0,False,True,False,False,False,False,False,False,False,False
4,2009-02-02,1.0,2.0,False,True,False,False,False,False,False,False,False,False
5,2009-02-09,4.0,2.0,True,False,False,False,False,False,False,False,False,False
6,2009-02-16,1.0,2.0,False,False,False,False,False,False,False,True,False,False
7,2009-02-23,5.0,2.0,False,True,False,False,False,False,False,False,False,False
8,2009-03-02,3.0,2.0,False,False,False,False,False,True,False,False,False,False
9,2009-03-09,3.0,2.0,False,False,True,False,False,False,False,False,False,False
10,2009-03-16,3.0,3.0,False,False,False,False,False,False,False,False,False,True
11,2009-03-23,2.0,2.0,True,False,False,False,False,False,False,False,False,False
12,2009-03-30,2.0,2.0,False,True,False,False,False,False,False,False,False,False
13,2009-04-06,3.0,5.0,False,False,True,False,False,False,False,False,False,False
14,2009-04-13,3.0,1.0,False,False,False,False,False,False,False,False,True,False
15,2009-04-20,3.0,4.0,False,False,False,False,True,False,False,False,False,False
16,2009-04-27,3.0,2.0,False,False,False,False,False,False,False,False,False,True
17,2009-05-04,3.0,4.0,False,False,False,False,True,False,False,False,False,False
18,2009-05-11,3.0,2.0,False,False,False,False,False,False,False,True,False,False
19,2009-05-18,5.0,5.0,False,False,False,True,False,False,False,False,False,False
20,2009-05-25,2.0,2.0,True,False,False,False,False,False,False,False,False,False
21,2009-06-01,3.0,3.0,False,False,False,False,True,False,False,False,False,False
22,2009-06-08,2.0,2.0,False,False,False,False,False,False,True,False,False,False
23,2009-06-15,3.0,3.0,False,False,False,False,True,False,False,False,False,False
24,2009-06-22,3.0,3.0,True,False,False,False,False,False,False,False,False,False
25,2009-06-29,4.0,4.0,True,False,False,False,False,False,False,False,False,False
26,2009-07-06,4.0,4.0,False,False,False,False,False,False,True,False,False,False
27,2009-07-13,5.0,5.0,True,False,False,False,False,False,False,False,False,False
28,2009-07-20,5.0,5.0,False,False,False,False,True,False,False,False,False,False

In [17]:
test2.normalize_numeric(method="std")
test2.df

,StatusDate,Status,Status2,State_FL,State_GA,State_NJ,State_NY,State_TX,State_fl,State_ga,State_nj,State_ny,State_tx
0,2009-01-05,1.596543,1.707788,False,False,True,False,False,False,False,False,False,False
1,2009-01-12,-1.833068,-1.487428,False,False,False,False,False,False,False,True,False,False
2,2009-01-19,-0.118262,-0.688624,False,True,False,False,False,False,False,False,False,False
3,2009-01-26,0.739140,-0.688624,False,True,False,False,False,False,False,False,False,False
4,2009-02-02,-1.833068,-0.688624,False,True,False,False,False,False,False,False,False,False
5,2009-02-09,0.739140,-0.688624,True,False,False,False,False,False,False,False,False,False
6,2009-02-16,-1.833068,-0.688624,False,False,False,False,False,False,False,True,False,False
7,2009-02-23,1.596543,-0.688624,False,True,False,False,False,False,False,False,False,False
8,2009-03-02,-0.118262,-0.688624,False,False,False,False,False,True,False,False,False,False
9,2009-03-09,-0.118262,-0.688624,False,False,True,False,False,False,False,False,False,False
10,2009-03-16,-0.118262,0.110180,False,False,False,False,False,False,False,False,False,True
11,2009-03-23,-0.975665,-0.688624,True,False,False,False,False,False,False,False,False,False
12,2009-03-30,-0.975665,-0.688624,False,True,False,False,False,False,False,False,False,False
13,2009-04-06,-0.118262,1.707788,False,False,True,False,False,False,False,False,False,False
14,2009-04-13,-0.118262,-1.487428,False,False,False,False,False,False,False,False,True,False
15,2009-04-20,-0.118262,0.908984,False,False,False,False,True,False,False,False,False,False
16,2009-04-27,-0.118262,-0.688624,False,False,False,False,False,False,False,False,False,True
17,2009-05-04,-0.118262,0.908984,False,False,False,False,True,False,False,False,False,False
18,2009-05-11,-0.118262,-0.688624,False,False,False,False,False,False,False,True,False,False
19,2009-05-18,1.596543,1.707788,False,False,False,True,False,False,False,False,False,False
20,2009-05-25,-0.975665,-0.688624,True,False,False,False,False,False,False,False,False,False
21,2009-06-01,-0.118262,0.110180,False,False,False,False,True,False,False,False,False,False
22,2009-06-08,-0.975665,-0.688624,False,False,False,False,False,False,True,False,False,False
23,2009-06-15,-0.118262,0.110180,False,False,False,False,True,False,False,False,False,False
24,2009-06-22,-0.118262,0.110180,True,False,False,False,False,False,False,False,False,False
25,2009-06-29,0.739140,0.908984,True,False,False,False,False,False,False,False,False,False
26,2009-07-06,0.739140,0.908984,False,False,False,False,False,False,True,False,False,False
27,2009-07-13,1.596543,1.707788,True,False,False,False,False,False,False,False,False,False
28,2009-07-20,1.596543,1.707788,False,False,False,False,True,False,False,False,False,False

In [18]:

print(temp.equals(test2.df))

True